 <h1>Nueva mascota</h1>
    <form role="form">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        {{input id='nombre' class="form-control" value=nombre}}
      </div>
      <div class="form-group">
        <label for="color">color</label>
        {{input id='color' class="form-control" value=color}}
      </div>
      <div class="form-group">
        <label for="apellido">Duenio</label>
  {{view Ember.Select content=personas value=selectedPersona
  
       optionLabelPath="content.nombre"}}
      </div>

       <a href="#" class="btn btn-success" {{action 'crear'}}>crear</a>

    </form>
